body {
    margin: 1%;
    padding: 2%;
    border-width: 5px;
    border-radius: 10px;
    border-color: grey grey pink grey;
    border-style: dotted solid dashed solid;
}

header {
    text-align: center;
}

nav {
    font-family: "Arvo";
    font-weight: bold;
    font-size: 25px;
}

.articleStyling {
    margin-bottom: 225px; 
}

.sectionStyling {
    margin-bottom: 225px;
}

.paragraphBox {
    width: 200px;
    margin: 0px;
    float: left;
}

.img-valign {
    float: left;
    margin-left: 10%;
}
